<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <a th:href="@{home}"> <button th:href="@{/home}"  th:value="home">home</button></a>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>num samosval</th>
                <th>driver samosval</th>
                <th>type samosval</th>
                <th>reise</th>
                <th>excovator</th>
                <th>driver excovator</th>
                <th>time Of Come Loading</th>
                <th>time Of Begin Loading</th>
                <th>time Of Loading</th>
                <th>distance</th>
                <th>weight Fact</th>
                <th>weight Norm</th>
                <th>type Of Work</th>
                <th>place To Unloading</th>
                <th>time Of Begin Unloading</th>
                <th>time Of Unloading</th>
                <th>gas For Begin Loading</th>
                <th>gas For Begin Unloading</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="truckTripsDTO: ${truckTripsDTOS}">
            <td th:text="${truckTripsDTO.id}">id</td>
            <td th:text="${truckTripsDTO.numSamosval}">numSamosval</td>
            <td th:text="${truckTripsDTO.nameDriverSamosval}">nameDriverSamosval</td>
            <td th:text="${truckTripsDTO.typeSamosval}">typeSamosval</td>
            <td th:text="${truckTripsDTO.reise}">reise</td>
            <td th:text="${truckTripsDTO.numEx}">numEx</td>
            <td th:text="${truckTripsDTO.nameEx}">nameEx</td>
            <td th:text="${truckTripsDTO.timeOfComeLoading}">timeOfComeLoading</td>
            <td th:text="${truckTripsDTO.timeOfBeginLoading}">timeOfBeginLoading</td>
            <td th:text="${truckTripsDTO.timeOfLoading}">timeOfLoading</td>
            <td th:text="${truckTripsDTO.distance}">distance</td>
            <td th:text="${truckTripsDTO.weightFact}">weightFact</td>
            <td th:text="${truckTripsDTO.weightNorm}">weightNorm</td>
            <td th:text="${truckTripsDTO.typeOfWork}">typeOfWork</td>
            <td th:text="${truckTripsDTO.placeToUnloading}">placeToUnloading</td>
            <td th:text="${truckTripsDTO.timeOfBeginUnloading}">timeOfBeginUnloading</td>
            <td th:text="${truckTripsDTO.timeOfUnloading}">timeOfUnloading</td>
            <td th:text="${truckTripsDTO.gasForBeginLoading}">gasForBeginLoading</td>
            <td th:text="${truckTripsDTO.gasForBeginUnloading}">gasForBeginUnloading</td>
        </tr>
        </tbody>
    </table>
</body>
</html>